{% extends 'base.html' %}
{% block tittle%}
测试平台
{% endblock %}

{% block css %}
  {% load static %}
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/project_manage.css' %}">
{% endblock %}

{% block body%}
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">测试平台</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <span class="navbar-text text-nowrap">
            欢迎你：{{ user }}
      </span>
      <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{%url 'logout'%}">Sign out</a>
          </li>
      </ul>
    </nav>

  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/manage/project_manage/">
                  <span data-feather="home"></span>
                  项目管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage/module_manage/">
                  <span data-feather="file"></span>
                  模块管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/interface/case_manage/">
                  <span data-feather="shopping-cart"></span>
                  用例管理<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  任务管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  mockserver
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  测试工具
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>测试报告</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  缺陷报告
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

          <!--<canvas class="my-4" id="myChart" width="900" height="380"></canvas>-->
          <!--列表展示-->
          {% if type == 'list' %}

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <h1 class="h2">用例列表</h1>
            <p>
              <a class="btn btn-primary" href="/interface/api_debug/">调试</a>
            </p>
          </div>
          <div class="table-responsive">
              <form class="form-control" method="post" action="/interface/search_case/">
                  {% csrf_token %}
                    <div class="row">
                        <div class="col">
                          <div class="input-group">
                              <span class="input-group-text">用例名称</span>
                              <input id="case_name" type="text" class="form-control" placeholder="name" name="case_name" >
                          </div>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text">所属模块</span>
                                <input id="case_module" type="text" class="form-control" placeholder="module" name="case_module" >
                            </div>
                        </div>
                    </div>
                  <br>
                <button class="btn btn-primary" type="submit" id="search">查询</button>

              </form>

            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>用例编号</th>
                  <th>用例名称</th>
                  <th>URL</th>
                  <th>方法</th>
                  <th>所属模块</th>
                  <th>创建日期</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for case in testcases %}
                  <tr>
                    <td>{{ case.id }}</td>
                    <td>{{ case.name }}</td>
                    <td>{{ case.url }}</td>
                    <td>{{ case.req_method}}</td>
                    <td>{{ case.module }}</td>
                    <td>{{case.create_time|date:"Y-m-d H:i:s"}}</td>
                    <td>
                      <!--使用url标签跳转，使用urls.py中的name属性，与path地址无关-->
                      <a href="/interface/edit_case/{{case.id}}/" class="btn btn-sm btn-primary">修改</a>
                      <!--直接跳转url地址的方式，参数直接跟在url地址中-->
                      <a href="/interface/delete_case/{{case.id}}/" class="btn btn-sm btn-danger">删除</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- 列表分页器 -->
            <div class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                        {% if testcases.has_previous %}
                            <li><a href="?page={{ testcases.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        <li><a href="#">{{ testcases.number }}</a></li>

                        {% if testcases.has_next %}
                            {% if case_name %}
                                <li><a href="?case_name={{ case_name }}&page={{ testcases.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li><a href="?page={{ testcases.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="#">共：{{ testcases.paginator.num_pages }} 页</a></li>
                    </ul>
                </span>
            </div>

          {% endif %}

          {% if type == 'debug' %}
            <!--在线debug-->
            {% include "interface_app/api_debug.html" %}
          {% endif %}

          {% if type == 'edit' %}
            <h3>编辑用例</h3>
          <form role="form" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <br>
              <button class="btn btn-primary btn-sm" type="submit">保存</button>
              <a class="btn btn-primary btn-sm" href="/interface/case_manage">取消</a>
          </form>
          {% endif %}
        </main>
      </div>
    </div>

{% endblock %}

{% block script %}
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <script>
      feather.replace()
    </script>
{% endblock %}