{% extends 'base.html' %}
{% block tittle%}
测试平台
{% endblock %}

{% block css %}
  {% load static %}
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/project_manage.css' %}">
{% endblock %}

{% block body%}
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">测试平台</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <span class="navbar-text text-nowrap">
            欢迎你：{{ user }}
      </span>
      <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{%url 'logout'%}">Sign out</a>
          </li>
      </ul>
    </nav>

  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/manage/project_manage/">
                  <span data-feather="home"></span>
                  项目管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage/module_manage/">
                  <span data-feather="grid"></span>
                  模块管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/interface/case_manage/">
                  <span data-feather="list"></span>
                  用例管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/interface/task_manage/">
                  <span data-feather="check-square"></span>
                  任务管理<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="server"></span>
                  mockserver
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="command"></span>
                  测试工具
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>测试报告</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="pie-chart"></span>
                  缺陷报告
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

          <!--<canvas class="my-4" id="myChart" width="900" height="380"></canvas>-->
          <!--列表展示-->
          {% if type == 'list' %}

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <h1 class="h2">测试计划列表</h1>
            <p>
              <a class="btn btn-primary" href="/interface/add_task/">新增</a>
            </p>
          </div>
          <div class="table-responsive">

            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>id</th>
                  <th>名称</th>
                  <th>描述</th>
                  <th>状态</th>
                  <th>创建日期</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for task in testtask %}
                  <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.describe }}</td>
                      {% if task.status == 0 %}
                    <td>未执行</td>
                      {% endif %}

                      {% if task.status == 1 %}
                    <td>执行中</td>
                      {% endif %}

                      {% if task.status == 2 %}
                    <td>已执行</td>
                      {% endif %}
                    <td>{{task.create_time|date:"Y-m-d H:i:s"}}</td>
                    <td>
                        <a href="/interface/run_task/{{task.id}}" onclick="return is_task_run();"><span data-feather="play"></span></a>
                      <!--<a href="/interface/run_task/{{task.id}}/" class="btn btn-sm btn-primary">运行</a>-->
                      <a href="/interface/edit_task/{{task.id}}/"><span data-feather="edit"></span> </a>
                      <!--直接跳转url地址的方式，参数直接跟在url地址中-->
                      <a href="/interface/delete_task/{{task.id}}/"><span data-feather="trash-2"></span></a>
                        <a href="/interface/task_result_list/{{task.id}}/" ><span data-feather="file-text"></span></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- 列表分页器 -->
            <div class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                        {% if testtask.has_previous %}
                            <li><a href="?page={{ testtask.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        <li><a href="#">{{ testtask.number }}</a></li>

                        {% if testtask.has_next %}
                            {% if case_name %}
                                <li><a href="?case_name={{ case_name }}&page={{ testtask.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li><a href="?page={{ testtask.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="#">共：{{ testtask.paginator.num_pages }} 页</a></li>
                    </ul>
                </span>
            </div>

          {% endif %}

          {% if type == 'add' %}
            <!--在线debug-->
            {% include "interface_app/add_task.html" %}
          {% endif %}

          {% if type == 'edit' %}
            <!--编辑case-->
            {% include "interface_app/edit_task.html" %}
          {% endif %}

            {% if type == 'result' %}
                {% include "interface_app/task_result.html" %}
            {% endif %}
        </main>
      </div>
    </div>

{% endblock %}

{% block script %}
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" language="JavaScript">
        $("#runTask").click(function () {
            let $td = $(this).parents('tr').children('td');
            // 获取task.id
            let task_id = $td.eq(0).text(); //第一个td的内容
            // window.alert("当前任务的id为：" + task_id);
            // window.alert("当前任务的状态为：" + $td.eq(3).text());
            $.ajax({
                type: "GET",
                url: "/interface/run_task/",
                data: {"task_id":task_id},
                async: true,
                // success: function (res) {
                //     if (res.success) {
                //         window.alert(res.message);
                //     }else{
                //         window.alert(res.message);
                //     }
                // },
               //=================== error============
               error: function (jqXHR, textStatus, err) {
                    console.log(arguments);
               }
            });
        });

        function is_task_run() {
            let flag = false;
            $.ajax({
                type: "GET",
                url: "/interface/is_task_run/",
                async: false,
                success: function (resp) {
                    if (resp.success === "true"){
                        window.alert(resp.message);
                        // console.log(resp.message);
                    }
                    else{
                        // window.alert(resp.message);
                        flag = true;
                        window.location.reload();
                    }
                },
            });
            return flag;
        }
    </script>
{% endblock %}